@import "tailwindcss";
@plugin "@iconify/tailwind4";

body {
  @apply text-black/80;
}

@theme {
  --animate-wiggle: wiggle 0.4s ease-in-out;
}

@keyframes wiggle {
  0%,
  100% {
    rotate: 0deg;
  }
  25% {
    rotate: -20deg;
  }
  50% {
    rotate: 15deg;
  }
  75% {
    rotate: -10deg;
  }
}
